<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        " http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/PT_S4P1A_E1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">1</property>

        <mapping class="pt4p1ae1.veto.Entity.Animal"/>
        <mapping class="pt4p1ae1.veto.Entity.Appartenir"/>
        <mapping class="pt4p1ae1.veto.Entity.AvoirRendezVous"/>
        <mapping class="pt4p1ae1.veto.Entity.Client"/>
        <mapping class="pt4p1ae1.veto.Entity.Commander"/>
        <mapping class="pt4p1ae1.veto.Entity.Conge"/>
        <mapping class="pt4p1ae1.veto.Entity.Employe"/>
        <mapping class="pt4p1ae1.veto.Entity.Espece"/>
        <mapping class="pt4p1ae1.veto.Entity.Log"/>
        <mapping class="pt4p1ae1.veto.Entity.Ordonnance"/>
        <mapping class="pt4p1ae1.veto.Entity.Panier"/>
        <mapping class="pt4p1ae1.veto.Entity.Personne"/>
        <mapping class="pt4p1ae1.veto.Entity.Produit"/>
        <mapping class="pt4p1ae1.veto.Entity.Race"/>
        <mapping class="pt4p1ae1.veto.Entity.Traitement"/>
        <mapping class="pt4p1ae1.veto.Entity.Veterinaire"/>
        <mapping class="pt4p1ae1.veto.Entity.Ville"/>

    </session-factory>
</hibernate-configuration>