<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        " http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/PT_S4P1A_E1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">1</property>

        <mapping class="pt4p1ae1.veto.Entity.Animal"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Appartenir"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.AvoirRendezVous"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Client"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Commander"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Conge"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Employe"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Espece"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Log"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Ordonnance"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Panier"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Personne"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Produit"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Race"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Traitement"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Veterinaire"></mapping>
        <mapping class="pt4p1ae1.veto.Entity.Ville"></mapping>

    </session-factory>
</hibernate-configuration>